body{
    background-color:#001C30;
}
h2{
    color:#64ccc5;
    font-family: cursive;
    position:absolute;
    bottom:500px;
    left:80px;
    font-size: 30px;
}
#b1{
    color:#64ccc5;
    font-family: cursive;
    position:absolute;
    bottom: 460px;
    left:100px;
    font-size: 20px;
}
#b2{
    color:white;
    font-family: cursive;
    position:absolute;
    bottom: 450px;
    left:100px;
    font-size:15px;
}
#b3{
    color:white;
    font-family: cursive;
    position:absolute;
    bottom:420px;
    left:110px;
    font-size:15px;
}
#b4{
    color:white;
    font-family: cursive;
    position:absolute;
    bottom:280px;
    left:100px;
    font-size:15px;
}
#b5{
    color:#64ccc5;
    font-family: cursive;
    position:absolute;
    bottom:200px;
    left:100px;
    font-size: 20px;
}
#b6{
    color:white;
    font-family: cursive;
    position:absolute;
    bottom:75px;
    left:100px;
    font-size:15px;
}
#b7{
    color:#64ccc5;
    font-family: cursive;
    position:absolute;
    bottom:235px;
    left:500px;
    font-size: 20px;
}
#b8{
    color:white;
    font-family: cursive;
    position:absolute;
    bottom:75px;
    left:500px;
    font-size:15px;

}
#b9{
    position:absolute;
    bottom: 0px;
    left:0px;
}


