body{
    background-color:#001C30 ;
    color:white;
}
h2{
    color:#64ccc5;
    font-family: cursive;
    position: absolute;
    bottom: 500px;
    left:80px;
    font-size: 30px;
}
#b1{
    color:#64ccc5;
    font-family: cursive;
    font-size:15px;
    position: absolute;
    bottom:430px;
    left:120px;
    
}
#b2{
    color:white;
    font-family: cursive;
    font-size: 15px;
    position: absolute;
    bottom:410px;
    left:120px;
}
#b3{
    font-family: cursive;
    position:absolute;
    bottom:290px;
    left:120px;
    font-size: 13px;
}
#b4{
    position:absolute;
    bottom: 0%;
    left:0px;
    
}
#b5{
    font-size:20px;
    color: #64ccc5;
    position: absolute;
    bottom:240px;
    left:120px;
    font-family: cursive;
}
#b6{
    font-size: 13px;
    color: white;
    font-family: cursive;
    position:absolute;
    bottom:150px;
    left:120px;
}
#b7{
font-size: 13px;
color: white;
font-family: cursive;
position:absolute;
bottom:70px;
left:120px;
}
